@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lexend:wght@100..900&family=Poor+Story&display=swap');

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-20px);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
        transform: none;
    }
}


@keyframes fadeinright {
    from {
        opacity: 0;
        transform: translateX(-20px);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
        transform: none;
    }
}

@keyframes fadeinleft {
    from {
        opacity: 0;
        transform: translateX(20px);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
        transform: none;
    }
}
.fadein {
    animation-name: fadein;
    animation-duration: 1s;
}

.fadeinright {
    animation-name: fadeinright;
    animation-duration: 1s;
}

.fadeinleft {
    animation-name: fadeinleft;
    animation-duration: 1s;
}

.titleBox {
    z-index: 1;
    position: absolute;
    height: fit-content;
    align-content: center;
    opacity: 1;
    transition: all 1s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titleBox.disabled {
    opacity: 0;
    pointer-events: none;
}

.title {
    font-family: 'DM Serif Display',serif;
    color: white;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
}

.button {
    user-select: none;
    display: inline-block;
    text-align: center;
    background-color:  transparent;
    color: white;
    padding: 10px;
    border: 2px solid white;
    width: fit-content;
    transition: all 0.25s;
    margin:  10px 10px 0 auto;
    z-index: 2;
    top: 0;
    left: 0;
    right: unset;
}
.button.active {
    background-color:  white;
    color: black;
}
.button.right {
    left: unset;
    margin:  10px auto 0 10px;
}

.button:hover {
    background-color:  white;
    color: black;
}

.popup {
    display: inline-block;
    position: absolute;
    top: 15%;
    width: 50%;
    height: fit-content;
    padding: 50px;
    background: transparent;
    z-index: 1;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
    left: 10%;
    right: unset;
    color: white;
}

.popup.right{
    right: 10%;
    left: unset;
    text-align: right;
}

h1 {
    font-size: 5vw;
    margin-bottom: 0;
    margin-top: 0;
}

.imageContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 60vh;
    overflow: scroll;
    margin-top: 10px;
}