@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lexend:wght@100..900&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Prata&display=swap");
@font-face {
  font-family: 'GothamBlack';
  src: url('/GothamBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'Alagard';
  src: url('/alagard.ttf') format('truetype');
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-20px);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: none;
  }
}

@keyframes fadeinright {
  from {
    opacity: 0;
    transform: translateX(-20px);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: none;
  }
}

@keyframes fadeinleft {
  from {
    opacity: 0;
    transform: translateX(20px);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: none;
  }
}
.fadein {
  animation-name: fadein;
  animation-duration: 1s;
}

.fadeinright {
  animation-name: fadeinright;
  animation-duration: 1s;
}

.fadeinleft {
  animation-name: fadeinleft;
  animation-duration: 1s;
}

.titleBox {
  z-index: 1;
  position: absolute;
  height: fit-content;
  align-content: center;
  opacity: 1;
  transition: all 1s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titleBox.disabled {
  opacity: 0;
  pointer-events: none;
}

.title {
  font-family: "DM Serif Text", serif;
  color: white;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
}

.button {
  font-size: 15px;
  user-select: none;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  color: white;
  padding: 1vh;
  border: 2px solid white;
  width: fit-content;
  transition: all 0.25s;
  margin: 10px 10px 0 auto;
  z-index: 2;
  top: 0;
  left: 0;
  right: unset;
  font-family: "Lexend";
  font-weight: 700;
}
.button.active {
  background-color: white;
  color: black;
}
.button.right {
  left: unset;
}

.button:hover {
  background-color: white;
  color: black;
}

.popup {
  display: inline-block;
  position: absolute;
  top: 15%;
  width: 70vh;
  height: 100vh;
  max-height: 75vh;
  padding: 50px;
  background: transparent;
  z-index: 1;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
  right: unset;
  color: white;
  overflow: hidden;
  margin-right: 50vh; /* Offset by 50px */
}

.popup.right {
  margin-right: unset; /* Offset by 50px */
  margin-left: 50vh; /* Offset by 50px */

}

h1 {
  font-size: 90px;
  margin-bottom: 0;
  margin-top: 20px;
}

.my_image {
  width: fit-content;
  height: 230px;
  margin: 10px;
  object-fit: cover;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: min-content;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10px;
  align-content: start;
}

h3 {
  margin-top: 0;
  font-family: "Prata", serif;
  font-size: 20px;
}

p {
  font-size: 15px;
  font-family: "Lexend";
  font-weight: 200;
}

a {
  text-decoration: none;
  color: orange;
  font-family: "Lexend", serif;
  font-weight: 600;
  margin: 0;
  transition: all 0.25s;
}

a:hover {
  color: white;
}

.my_canvas {
  position: absolute;
}
iframe  {
  width: 100%;
  height: 250px;
}

.overview {
  display: block;
  height: fit-content;
  max-height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 10px;
  }
  a {
    font-size: 10px;
  }
  .popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: unset;
    width: 80vw;
    height: 100vw;
    max-height: 100vw;
    margin-right: 35vw;
  }
  .popup.right {
    margin-right: unset; /* Offset by 50px */
    margin-left: 35vw; /* Offset by 50px */

  }


  iframe {
    width: 100%;
    height: 140px;
  }

  p {
    font-size: 10px;
  }
  .button {
    font-size: 2vw;
    user-select: none;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 1vw;
    border: 1px solid white;
    width: fit-content;
    transition: all 0.25s;
    margin: 5px 5px 0 auto;
    z-index: 2;
    top: 0;
    left: 0;
    right: unset;
    font-family: "Lexend";
    font-weight: 700;
  }

  .overview {
    max-height: 55vw;
  }
  .imageContainer {
    justify-content: left;
    height: min-content;
    max-height: 55vw;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    align-content: start;
  }
  .my_image {
    width: fit-content;
    height: 17vw;
    margin: 1px;
    object-fit: cover;
  }
}